*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgba(8, 15, 23, 1);
    width: 100vw;
    height: 100vh;
}
header{
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    width: 1344px;
}
.nav1{
    display: flex;
    color: white;
    justify-content:space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}